<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Schema</title>
</head>
<body>
    <div class="div1">

    </div>
    <script>
        const outerDiv=document.querySelector('.div1');
       
        fetch("http://localhost:5000/api/rate/").then((res)=>res.json()).then(
                     data=>
                     outerDiv.textContent=JSON.stringify(data)
                    )
                .catch((err)=>console.log(err))

    </script>
    
</body>
</html>